body {
    font-family: 'Oswald', sans-serif;
    background-color: #04A277;
    text-align: center;
    font-size:30px;
    color:blue;
}

img {
    width: 480px;
    justify-content: center;
}
button{
	color:purple;
    background-color:pink;
}


